%table#items
  %thead
    %tr
      %th
      %th Name
      %th Category
      %th.quantity(colspan=3) Quantity
      %th(style="width:6em;")
  %tbody
    - @groceries.each do |grocery|
      = render partial: "groceries/#{rows}_row", locals: { grocery: grocery }
