%table#results
  %thead
    %tr
      %th= sort_link @q, :name
      %th= sort_link @q, :category
      %th(style="width:6em;")
      - if rows == 'index'
        %th(style="width:5em;")
  %tbody
    - @groceries.each do |grocery|
      = render partial: "groceries/#{rows}_row", locals: { grocery: grocery }
