%table#items
  %thead
    %tr
      %th.check
      %th Name
      %th Category
      %th.quantity(colspan=3) Quantity
      %th.edit
  %tbody
    - @groceries.each do |grocery|
      = render partial: "groceries/#{rows}_row", locals: { grocery: grocery }
