.center_text
  = search_form_for @q, url: index_search_path, remote: true do |f|
    = f.search_field :category_or_name_cont, placeholder: 'Search Groceries', id: 'search_field'

  .flex.center
    = render partial: 'groceries/index', locals: { rows: 'index' }

%br

= link_to 'New Grocery', new_grocery_path
