<table id="items">
  <thead>
  <tr>
    <th></th>
    <th>Grocery</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <%= render partial: 'items/list_row', locals: { item: item } %>
  <% end %>
  </tbody>
</table>
