<% if items.present? %>
  <table id="items">
    <thead>
    <tr>
      <th></th>
      <th>Grocery</th>
      <th>Category</th>
      <th class="center_text">Quantity</th>
      <th colspan="1" style="width:4.5em;"></th>
    </tr>
    </thead>

    <tbody>
    <% items.each do |item| %>
      <%= render partial: 'items/list_row', locals: { item: item } %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p id="items">The List is currently empty</p>
<% end %>
