-#%p#notice

.flex.center
  = render partial: 'items/index', locals: { items: @items }

- if @items.present?
  .flex.center
    = link_to 'Clear Items',  clear_items_path, data: { confirm: 'Are you done with this list?'}

.flex.center.inactive
  = render partial: 'items/index', locals: { items: @past_items }
