%p#notice

.flex.center
  %h1 The List

.flex.center
  = render partial: 'items/index', locals: { items: @items }

.flex.center
  = link_to 'Clear Items',  clear_items_path, remote: true

-#.flex.center
  %h2 Past Items


.flex.center
  .inactive
    = render partial: 'items/index', locals: { items: @past_items }




