.flex
  display: flex
.space_around
  justify-content: space-around
.center
  justify-content: center

input[type='checkbox']
  width: 15px
  height: 15px

nav
  font-size: 125%
.center_text
  text-align: center


th, td
  text-align: left
th
  padding: 1px 5px 7px

#search_field
  margin: 12px
