#groceries_container
  .center_text
    = search_form_for @q, url: add_search_path, remote: true do |f|
      = f.search_field :category_or_name_cont, placeholder: 'Search Groceries', id: 'search_field', autocomplete: 'off'
  .flex.center
    = render partial: 'groceries/index', locals: { rows: 'add' }
#items_container
  = render partial: 'items/index', locals: { items: @items }
